header{
    height: 400px;
    background-image: linear-gradient(rgb(35, 189, 43,0.1),rgb(221,12,56,0.1)),url('../images/1-ErI7LVpTQOQZwJ0NUTlPtw.jpeg');
    background-position: center;
    background-size: cover;
    
   
}